@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{
    .hero-bg{
        background-image: 
        url('./bg-tech-img.png'),
        radial-gradient(87.74% 87.74% at 83.28% 6.8%, #013403 0%, #008928 67.15%, #01410A 99.17%);
        background-size: cover;
        background-blend-mode: soft-light;
        background-position: center center;
    }
}